.sidebar {
  width: 288px;
  color: #9a9cb5;
}

.text-custom_gray {
  color: #d9dae3;
}

.select-border {
  border: 3px solid #c6c7d4;
  border-bottom: 5px solid #c6c7d4;
  border-radius: 10px;
  color: #9a9cb5;
  width: 100px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}
a {
  color: #9a9cb5 !important;
}

.active-link {
  color: #3843d0 !important;
  font-weight: bold !important;
}

.active-footer {
  border-top: 3px solid #3843d0 !important;
  border-radius: 3px;
}

a:hover {
  text-decoration: none !important;
}

.btn-custom {
  background: #3843d0;
  border: 3px solid #212b80;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #212b80;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.theBorder {
  border: 1px solid #dbdbdb;
}

.text-custom {
  color: #3843d0;
}

.btn-custom-circular {
  position: fixed;
  width: 56px;
  height: 56px;
  right: 20px;
  bottom: 90px;

  background: #3843d0;
  box-shadow: 0px 2px 0px #212b80;
  border-radius: 100px;
}

.question-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.question-content {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.centered-label {
  display: flex;
  align-items: center;
}

.Toastify__toast--dark {
  background: #343a40 !important;
  color: #fff;
}

.question-avatar {
  width: 30px;
  height: 30px;
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-pills .sub-menu.active {
  color: #3843d0 !important;
  border-radius: 3px;
  border-bottom: 3px solid #3843d0;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .content {
    background-color: #fff;
  }
  .list-item {
    background-color: #fff;
  }
  .nav-pills .sub-menu.active {
    background-color: #fff;
  }
  .header {
    border-bottom: 1px solid #ddd;
  }
}

@media screen and (min-width: 768px) {
  .content {
    margin-left: 288px;
    background-color: #f1f2f8;
  }
  .list-item {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav-pills .sub-menu.active {
    background-color: #f1f2f8;
  }
}
