@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.img-container {
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-bottom: 32px;
  }

  img {
    position: absolute;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}

.img-container-big {
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-bottom: 56px;
  }

  img {
    position: absolute;
    width: 56px;
    height: 56px;
    object-fit: cover;
  }
}
